/* START OF ABOUT ME CODE*/
.welcome-title {
  display: flex;
  justify-content: center;
  padding-right: 5rem;
  font-size: 80px;
  color: white;
  font-weight: bolder;
}

main > h1,
h2 {
  margin-left: 1rem;
  margin-top: 1rem;
  color: white;
  font-weight: bolder;
  font-size: 30px;
}
.AppLogos {
  margin-top: 3rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.AppLogos img {
  max-width: 100px;
  margin: 10px;
}

p {
  margin-left: 1rem;
  margin-top: 1rem;
  color: white;
  font-weight: bolder;
  font-size: 15px;
}

/* Start of box code */

.box > h1,
h2 {
  margin-left: 1rem;
  margin-top: 1rem;
  color: white;
  font-weight: bolder;
  font-size: 30px;
}

.box {
  background-color: #283a45c5;
  border-radius: 20px;
  padding: 10px;
  margin-top: 10px;
}

.box > p {
  margin-left: 1rem;
  margin-top: 1rem;
  color: white;
  font-weight: bolder;
  font-size: 15px;
}

.box > img {
  top: 10px;
  width: 50px;
  height: auto;
  float: right;
}

.sly-cooper {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
/* End of box code */

/* Hover Effect for App Logos */
.AppLogos img {
  transition: transform 0.3s ease; /* Smooth transition for scaling */
}

.AppLogos img:hover {
  transform: scale(1.5); /* Scale up the image on hover */
}

/* End of Hover Effect */

/* Start of Media Query   */
@media (max-width: 600px) {
  /* This is the start for the everything in the media q   */
  body {
    width: 100%; /* Adjust the width for small screens */
    /* Add other responsive styles for .home-body if needed */
  }

  .welcome-title {
    /* Adjust font sizes for smaller screens */
    font-size: 50px;

    /* Adjust margins and padding as needed for smaller screens */
    margin-left: 0rem;
    padding: 0;
  }
  .box {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .box > h1 {
    font-size: larger; /* Adjust font size for smaller screens */
    margin: 0.5rem; /* Adjusted margin */
  }

  .box > p {
    font-size: small;
    margin: 0.5rem;
  }
} /* This is the end for the everything in the media q   */
/* End of Media Query */

/* END OF ABOUT ME CODE */
