.welcome-title {
  display: flex;
  justify-content: center;
  padding-right: 5rem;
  font-size: 80px;
  color: white;
  font-weight: bolder;
}
.quote-box {
  padding-top: 300px;
}
.quote-box > h1,
h2 {
  margin-left: 20rem;
  margin-top: 1rem;
  color: white;
  font-weight: bolder;
  font-size: 30px;
}

.quote-box > p {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: bolder;
  margin-left: 1rem;
  margin-top: 1rem;
}

.home-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.home-body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Start of Media Query   */
@media (max-width: 600px) {
  /* This is the start for the everything in the media q   */
  .home-body {
    width: 100%; /* Adjust the width for small screens */
    /* Add other responsive styles for .home-body if needed */
  }

  .welcome-title {
    /* Adjust font sizes for smaller screens */
    font-size: 50px;

    /* Adjust margins and padding as needed for smaller screens */
    margin-left: 0rem;
    padding: 0;
  }
  .quote-box {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .quote-box > h1,
  .quote-box > h2,
  .quote-box > p {
    font-size: medium; /* Adjust font size for smaller screens */
    margin: 0.5rem; /* Adjusted margin */
  }
} /* This is the end for the everything in the media q   */
/* End of Media Query */
