.welcome-title {
  display: flex;
  justify-content: center;
  padding-right: 5rem;
  font-size: 80px;
  color: white;
  font-weight: bolder;
}

.box > h1,
h2 {
  margin-left: 1rem;
  margin-top: 1rem;
  color: white;
  font-weight: bolder;
  font-size: 30px;
}

.box {
  background-color: #283a4593;
  border-radius: 20px;
  padding: 10px;
  margin-top: 10px;
}

.box > p {
  margin-left: 1rem;
  margin-top: 1rem;
  color: white;
  font-weight: bolder;
  font-size: 15px;
}

.box > img {
  top: 10px;
  width: 50px;
  height: auto;
  float: right;
}

/* Start of Media Query   */
@media (max-width: 600px) {
  /* This is the start for the everything in the media q   */
  body {
    width: 100%; /* Adjust the width for small screens */
    /* Add other responsive styles for .home-body if needed */
  }

  .welcome-title {
    /* Adjust font sizes for smaller screens */
    font-size: 50px;

    /* Adjust margins and padding as needed for smaller screens */
    margin-left: 0rem;
    padding: 0;
  }
} /* This is the end for the everything in the media q   */
/* End of Media Query */
